$title-font: 'Bungee Shade', cursive;
$primary-color: #4b367c;
$secondary-color: #2c2541;
$light-gray: #efeef1;
$hover-color: #6441a5;



html {
  font-size: 100%;
}


body {
  background-color: white;

  font-size: 100%;


  @media (min-width: 768px) {
    font-size: 110%;
  }

}

.page-heading {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

}

h1 {
  font: 2em 'Bungee Shade', cursive;
  color: white;
  margin-top: 0.5rem;
}

.input-group {
  width: 80%;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 1rem;


  @media (min-width: 768px) {
    width: 40%;
    margin-top: 1rem;
  }
}

input {
  border-radius: 0px !important;
}

.input-group-btn {
  button {
    border-radius: 0px;
    border: 0px;
    background-color: $secondary-color;
    &:hover {
      background-color: $hover-color;
    }
  }
}

.alert-danger {
  width: 70%;
  padding: 0.5em;
  text-align: center;
  font-size: 0.75em;
  margin: 0.5em auto 0;
  @media (min-width: 768px) {
    width: 50%;
  }
}

.container-fluid {
  padding: 1em;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    content-align: center;
  }
}

.stream-detail {
  flex: 0 1 70%;
}

.users-list {
  background-color: $light-gray;
  flex: 0 1 30%;
  padding: 0.5em;
  overflow: hidden;
  @media (min-width: 1024px) {
    height: 80vh;
  }
}

.btn-group {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;

  button {
    flex: 0 1 33%;
    &:hover {
      background-color: $hover-color;
      color: white;
    }
    &:focus {
      background-color: $primary-color;
      color: white;
    }
  }
}

.table-scroll {
  overflow: auto;
  height: 90%;
  padding: 0.5em;
}

table {
  background-color: white;

  tr {
    height: 5em;
  }
  tr:first-of-type {
    height: 2em;
    border-bottom: 1px solid black;
  }
  th {
    text-align: center;
    font-size: 1em;
    padding: 0;
  }
  td {
    text-align: center;
    font-size: 0.75em;
  }
  .list-item {
    cursor: pointer;
  }

  .user-logo {
    width: 4em;
  }

  .status {
    position: relative;

    .online {
      position: absolute;
      left: 45%;
      top: 40%;
      width: 12px;
      height: 12px;
      background-color: green;
      border-radius: 50%;
    }

    .offline {
      position: absolute;
      left: 45%;
      top: 40%;
      width: 12px;
      height: 12px;
      background-color: red;
      border-radius: 50%;
    }

    .glyphicon {
      position: absolute;
      right: 5%;
      top: 40%;
      cursor: pointer;
    }
  }
}

.footer {
  text-align: center;
  p {
    font-size: 0.75em;
  }
}
